.hoge {
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}
.image-circle {
    display: block;
    border-radius: 50%;
    max-height:  auto;
    max-width: auto;
}

.profile-Color {
    color: #dd5780
}